@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* font-family: 'Courgette', sans-serif;
font-family: 'Lato', sans-serif; */

:root{ --red:#D60B37;
       --black: #333333!important;    
       --white:#f8f8f9!important;
       --blue:#0B37D6!important;
       --default-padding:2rem;
       --section-height:100vh;
       --default-top-padding:8rem;
       --title-font:'Courgette', sans-serif;     
       
       --btn-padding:1rem 2rem;
 }

*{ margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;

 }
 body{ background-color: var(--white);
        overflow-x: clip;

  }
 ul{ 
     list-style: none;
  }

  a{text-decoration: none;
    color:inherit;

   }


  /* DROPDOWN BTN START*/  
  .dropdown-btn{ z-index: 10;
                display:inline-block;
                position:fixed;
                background-color: transparent;
                border: none;
                right: 1rem;
                top: 3rem;
                display:none;
                font-size: 1rem;

   }

  .dropdown-btn-icon{ color: var(--white);

   }


  /* DROPDOWN BTN END*/  
 /*NAV START*/
  .nav{ background-color: var(--black); 
        display:flex;
        align-items: center;
        padding: var(--default-padding);
        flex-wrap: wrap;
        position: fixed;
        z-index: 1;
        width: 100%;
        border-bottom: 1px solid var(--red);
        
        

  }
.nav-logo{ width:15rem;

 }
.nav-menu{ color: var(--white);
            display:flex;
            margin-left: auto;

 }
.nav-menu-item{

 }
 .nav-menu-item-link{padding: .5rem;
                    position:relative;

}
/*ANIMATION NAV ITEMS START*/
.nav-menu-item-link:hover{color: var(--red);
                         

}

.nav-menu-item-link::before{
                  content: '';
                  
                  background-color: transparent;
                  height: 2px;
                  width: 0%;
                  position: absolute;
                  display: block;
                  bottom: 0;
                  left: 5px;
                  display:none;
                 animation:animateNavItem .4s linear;

}
.nav-menu-item-link:hover::before{display:block;
                                   background-color: var(--red); 
                                   width: 90%;
                         

}
/*KEYFRAME ANIMATION START*/
@keyframes animateNavItem {
  0%{width: 0;
    height:0;
    background-color: transparent;

  }
 50%{width: 50%;
    height:2%;
    background-color: var(--red);

  }
  100%{width: 100%;
    height:2%;
    background-color: var(--red);

  }
  
}
/*KEYFRAME ANIMATION END*/
/*ANIMATION NAV ITEMS END*/





 /*NAV END*/
 
 
 
 
 /*CONTAINER START*/






 /* header HOME START */
 .header{ background-image: url('/img/background-retina-compressed.jpg');
          
          background-position: center;
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
         position: relative;
          width: 100%;
          height: var(--section-height);
          padding-top: var(--default-top-padding);
         
 }
 
 

.container{ height: 100%;
          display:flex;
          justify-content: center;
          align-items: center;

 }
.cart-button{ background-color: var(--red);
              color:var(--white);
              display:inline-block;
              padding:.5rem 1rem;
              border-radius: .3rem;
              position: absolute;
              top:25%;
              right: 0;
              transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
              position:fixed;
            z-index: 1;
            
 }
 .cart-button:hover{ padding-right: 2rem;

  }


 .hero-title, .us-title{ 
   color:var(--white);
   display:inline-block;
   font-family: 'Courgette', sans-serif;
   font-size: 13vw;

 }
 
 .hero-title span {font-family: 'Courgette', sans-serif;
          color:var(--red);

 }
 .us-title{z-index: 1;
  font-size: 10vw;
  text-shadow:
  -.5px -.5px 0 var(--black),  
   .5px -.5px 0 var(--black),
   -.5px .5px 0 var(--black),
    .5px .5px 0 var(--black);

}
.us-title span {font-family: 'Courgette', sans-serif; 
                color:var(--red);
                

 }


 /* header HOME END */






/* header US START */
.us-header{ background-image: url('../img/background-header-us-lg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--default-top-padding);
  width: 100%;
  height: var(--section-height);
  position: relative;
  text-align: center;
 

 }
 .us-header::before{content: '';
                    position: absolute;  
                    background-image:url('../img/pattern-us-background.png');
                    display:block;
                    width:100%;
                    height: 100%;
                    top: 0;
                  

  }





 /* header US END */
    

 /* MAIN HOME  START */

  .team{
        
        display: flex;
        flex-wrap: wrap;
       
  
  }
  .main-left{flex-grow: 1;
              flex-basis: 50%;
              padding: var(--default-padding);
             


   }
   
  .main-left h2{ color: var(--red);
                  border-bottom: 1px solid;
                  display:inline-block;

  }
  .main-left h2,  .main-left span{font-family: var(--title-font);

   } 
   .main-left h2>span{ color: var(--black);

   } 
   .main-left-text{ line-height: 2rem;

    }
   .sushi-chef-box{padding-top: var(--default-padding);   
                  display:flex;  
                  align-items: center;
                  gap: .8rem;
    }
   .chef-pic{border-radius: 50%;
            width:10vw;
            height:10vw;

    }
    .sushi-chef-box p:first-child{ font-size: 1.2rem; 
                                   font-weight: bold; 
                                   color: var(--black)

     }
     .sushi-chef-box p:nth-child(2){ 
                                      color: var(--red)

}
.main-right{flex-basis: 50%;
            flex-grow: 1;
            display:flex;
            align-self: stretch;
             background-image: linear-gradient(90deg, rgba(2, 0, 36, 0.42)  0%, rgba(2, 0, 36, 0.096) 35%, rgba(2, 0, 36, 0.35) 100%), url('../img/sushi-chef-compressed.jpg');
            background-size: 100%;
            background-position: bottom;
           
            


 }



 /* MAIN HOME END */



/* MENU START */
.menu{ padding:var(--default-padding); 
  padding-top: var(--default-top-padding);  
  background-color: var(--black);
  
}
.menu-title{border-bottom:1px solid;
            display:inline-block;
            color: var(--white);


 }
.menu-title, .menu-title span{font-family: var(--title-font);
                            


}
.menu-title span{color: var(--red);
                border-bottom: 1px solid;
              

 }
 .menu-container{ color: var(--white);
                  display:grid;
                 grid-template-columns:  repeat(3,1fr );
                 gap: var(--default-padding);

 }
 
 .menu-container-item-title{padding-top: var(--default-padding);
                            font-style: italic;  

 }
 .menu-container-item-text{line-height: 1.9rem;

 }
 .menu-container-item-title{text-transform: uppercase;
                            border-bottom: 1px dotted;
                            display:inline-block;  

  }
.menu-btn-link-container{text-align: center;
                        padding-top: var(--default-padding);
                       

 }
.menu-link-btn{margin: var(--default-padding);
              display:inline-block;
              color: transparent;
              background-color: var(--red);
              padding: var( --btn-padding);
              text-transform: uppercase;
              position: relative;



 }
 .menu-link-btn:hover{padding:1rem 6rem;
                      transition: all .2s ease-in-out;

}
 .menu-link-btn::before{
        content: 'menu';
        color: var(--white);
        display:inline-block;
        position:absolute;
        top: 0;
        right: -20px;
        top: 27%;
        right: 30%;
        transition: all .2s ease-in-out;
        pointer-events: none;
  }


  .menu-link-btn:hover::before{
          transform:translateY(2rem); 
          opacity: 0;
          visibility: hidden;
          transition: all .03s ease-in-out;
   }


   .menu-link-btn::after{
    content: 'conoce nuestra carta';
    color: var(--white);
    display: none;
    opacity: 0;
    position: absolute;
     visibility: hidden; 
    right: -30%;
    top: -70%;
    display:inline-block;
    transition: all .1s ease ;
    width: max-content;
    pointer-events: none;
     opacity: 0; 
  
}
.menu-link-btn:hover::after{
       transform:translateY(3.3rem) translateX(-5.5rem); 
       opacity: 1;
       transition: all .2s ease-in-out;
       visibility: visible;
     
      
}





/* MENU END */











 /*MAP START */

.mapa{width:100vw;
      overflow-x: hidden;

 }
iframe{width: 100%;
    
      height: 40vh;
      max-height: 30rem;


 }






 /*MAP END */

/* CONTACTO START */
.contacto{background-color: var(--black);
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
        
 }

.contacto >*{padding:  var(--default-padding);
            


 }
 .contacto-left{    display: flex;
                   flex-direction: column;
                   justify-content: space-evenly;
                  gap:var(--default-padding);
                  

 }
 
 .form{background-color: var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: .5rem;
        color: var(--black);
        position: relative;
        top: -4rem;
        border: 1px solid var(--black);
        padding:calc(  var(--default-padding)*.5);
       
}
label{display: flex;
      flex-direction: column;
      position:relative;
     

 }
 .form-input-name,
 .form-input-email{height: 1.7rem; 

  }
 .contacto-right-icon{ position: absolute;
                        top: 1.4rem;
                        right: 0.3rem;

  }
 .comentarios{   flex-grow: 1;
                min-height: 15rem;

 }  
.form-btn-submit{ padding: var(--btn-padding);
                  background-color: var(--red);
                  color: var(--white);
                  text-transform: uppercase;
                  border:none;
                  align-self: center;
                  
                  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1)

 }
 .form-btn-submit:hover{cursor: pointer;   
                        background-color: #ff1245;
                        background-image: linear-gradient(45deg, #eb0c3c, #ff0258);  
                        outline: var(--red);
                                                            

  }
 .contacto-left-img-container{text-align: center;

  }
 .contacto-left-logo{min-width: 13rem;
                  
   
  }
.contacto-left-social-media{
                            color: var(--white);
                            justify-self: center;
                              align-self: center;
                              font-size: 3rem;

 }
 .certificate-pic{justify-self: center;
                align-self: center;
                flex-basis: 30%;
                flex-shrink: 2;
                min-width: 12rem;
                max-width: 60%
               
           

  }


  .contacto-right{color: var(--white);
                  display: flex;
                  justify-content: center;
                  align-items: stretch;
                  line-height: 2rem;
                  font-size: 1.2rem;

   }
 .adress{
        padding-top:calc( var(--default-padding)*1.5); 
        display: flex;
        align-items: flex-start;
        
        line-height: 3rem;
      font-style: italic;

} 
.adress i{color: var(--red);
          font-size:1.5rem; 
          margin-right: .5rem; 

 } 
/* CONTACTO END */
.footer{padding:var(--default-padding);
      padding-top: var(--default-top-padding);
      background-color: var(--black);
      border-top: 1px solid var(--red);
      text-align: end;
      

}
.footer h2{font-size: .7rem;
  color: var(--white);
  font-style: italic;
 

 }

/*FOOTER START*/










/*FOOTER END*/














/*CONTAINER END*/

/* ABOUT START */
.about{padding-top: var(--default-top-padding);
      background-color: var(--white);

 }
.about-container{
      padding-left: var(--default-padding);
       padding-right: var(--default-padding); 

 }
.about-title h2, .about-title span{ font-family:'Courgette', sans-serif;

} 
.about-title h2{border-bottom: 1px solid var(--red);
                color: var(--black);
                display:inline-block;

 }
.about-title span{ color: var(--red);


 }
 .about-text>div>p>span{   
                          font-size: 2em;
                          width: 40px;
                          height: 40px;
                          position: relative;
                          text-align: center;
                          z-index: 10;
                          margin-right: 1rem;
                          color: var(--white);


  }
  .about-text>div>p>span::before{ position:absolute;
                                  display:inline-block;
                                  content:'';
                                  background-color: var(--red);
                                  height: 2rem;
                                  width:2rem;
                                  z-index: -1;
                                  
                                  top: .3rem;
                                  left: -.23rem;

   }
   .about-text{ display:flex;
                flex-wrap: wrap;
                gap: 1rem;
                padding-top: var(--default-padding);
               
    }
   .about-text-left,
   .about-text-right{width:45%;
      line-height: 1.5rem;

    }


    /*SLIDER SETTINGS*/
   


    /*SLIDER SETTINGS*/
/* ABOUT END */


.slide-container{ 
                  padding-top: var(--default-top-padding);
                  max-width: 100%;

}
.slide-container .slide img {max-width: 100%;
                              display:block;
                              margin: 0 auto;
 }
.slide-container::before{position:absolute;
                         content: 'slider';   
                         background: black;
                         color:white;
                         display:inline-block;
                         margin: auto;

 }


/* TESTIMONIAL START */
.testimonial{ padding:  var(--default-padding);
             



 }
 .testimonial-title{display:inline-block;
                    color: var(--black);
                    padding-top: var(--default-padding);

  }
.testimonial-title,
.testimonial-title-span{font-family: var(--title-font);
                       border-bottom:1px solid var(--red); 

 }
 .testimonial-title-span{color: var(--red);


  }
.testimonial-content{padding-top: var(--default-padding);
                      line-height: 1.5rem; 
                      color: var(--black);
                      position:relative;
                      z-index: 10;
                      padding-bottom: var(--default-padding);
                      
                      


 }

 .testimonial-content::first-letter, .testimonial-content span{
  font-family: var(--title-font);
  top: 1rem;
  position: relative;
  font-size: 2.5rem;
  color: var(--red);



}
.testimonial-content p:last-child{
  float: right;
  
 }


 
 /* TESTIMONIAL END */


 /*SOCIAL MEDIA START */

 .social-media{ background-color: var(--black);
                padding: var(--default-padding);
} 
.social-media-title{color: var(--red);
        font-family: var(--title-font);
      border-bottom: 1px solid;
      display:inline-block;
      padding-top: var(--default-padding);


}
.social-media-text{color: var(--white);
  padding-top: var(--default-padding);

 }
.social-media-text::first-letter{
  font-family: var(--title-font);
  position: absolute;
  font-size: 2.5rem;
  color: var(--red);
  top: 2.5rem;
  left: -.7rem;  
  z-index: -1;


}
.social-media-icons-container{padding-top: var(--default-padding);
                              color: var(--red);
                              font-size: 9vw;
                              padding: var(--default-padding); 
                              display: flex;
                              justify-content: flex-start;
                              gap: var(--default-padding);
 }



/*SOCIAL MEDIA END */













/*MEDIA QUERIES*/
/* 
MEDIA QUERIES DE REFERENCIA 
X-Small devices (portrait phones, less than 576px)
 @media (max-width: 575.98px) { ... }

Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

XX-Large devices (larger desktops)
 No media query since the xxl breakpoint has no upper bound on its width

*/
 @media (min-width:1400px){
  
  }

   @media (max-width:1399.98px){
    .header{  background-image: url('/img/background-main-medium-compressed.jpg');
 
     }
     /* .social-media-icons-container{
      justify-content: space-evenly;    
      gap: 0; 

    } */
    .us-header{ background-image: url('../img/background-header-us-md.jpg');
    }
   
    .main-right{
      


    }   

    .menu-container{  grid-template-columns:repeat(auto-fit, minmax(270px, 1fr) );

    } 


 
   }  

 @media (max-width: 991.98px) { 
  .form{position:static;
        border:none;

   }
    

  }
 @media (max-width:767.98px){
   .dropdown-btn{display:block;

    }
   .header{  background-image: url('/img/background-main-compressed.jpg');
 
    }
    .us-header{ background-image: url('../img/background-header-us-sm.jpg');
    }
    .nav{
      flex-direction: column;
      
     }
     .nav-menu{margin: auto;
               /* display:block; */
               display: none;
               width: 100%;
               text-align: center;
      }
     .nav-menu-item-link{ display: block;
 
       }
       .hero-title {font-size: 20vw;
         
        }
        .us-title{font-size: 15vw;

         }
      .nav-visible{display:block;

        }  
     /*DESACTIVATE NAV ITEMS ANIMATION*/
.nav-menu-item-link:hover::before{display:none;
  }     
/*DESACTIVATE ITEMS ANIMATION*/                   
 .container{  align-self: baseline;
              height: 80%;
              display: flex;
              justify-content: center;
              align-items: center;

  }            
  /*ABOUT SECTION SETTINGS*/
    .about-text{flex-direction: column;

     }
     .about-text-left, .about-text-right{width:100%;

      }
  .main-right{ display:none;
         
      }

  /*ABOUT SECTION SETTINGS*/
 
 
 
 
  }
  @media (max-width:575.98px){
   .header{  background-image: url('/img/background-mobile-compressed.jpg');
 
    }
 
 
  }








  /*MEDIA QUERIES*/ 
  /* ATTRIBUTION PICS SLIDE

  PIC 1 :Photo by Vinicius Benedit on Unsplash 
  PIC 2 :Photo by Riccardo Bergamini on Unsplash
  PIC 3 : Photo by Andraz Lazic on Unsplash
  PIC 4 : Photo by Marina Grynykha on Unsplash
  PIC 5 : Photo by Anthony Espinosa on Unsplash
  PIC 6 : Photo by Niclas Illg on Unsplash
  PIC 7 : Photo by Marina Grynykha on Unsplash
  PIC 8 : Photo by Luigi Pozzoli on Unsplash

  
  */